.theme-default body {
  background-color: black;
}

.theme-default * {
  --color-branding-bar: #00FFFF;
  --color-header-background: rgb(25, 25, 25);
  --color-sidebar-background: rgb(25, 25, 25);

  --color-container-background: rgba(15, 15, 15, 0.95);

  --color-control-disabled: rgba(35, 35, 35, 0.7);
  --color-control-inactive: black;
  --color-control-inactive-secondary: #232323;
  --color-control-hover: #498082;
  --color-control-active: #498082;
  --color-control-active-secondary: #b1b1b1;

  --color-tutorial-border: #498082;
  --color-tooltip-background: rgba(0, 0, 0, 0.9);

  --color-text-default: #f1f1f1;
  --color-text-control: #f1f1f1;
  --color-text-highlight: white;
  --color-text-link: #00FFFF;
  --color-text-link-hover: #64C8C8;
  --color-text-subtle: #adadad;

  --color-click-ripple: rgba(200, 200, 200, 0.7);
}