.theme-red body {
  background-color: black;
}

.theme-red * {
  --color-branding-bar: white;
  --color-header-background: rgb(75, 5, 0, 1);
  --color-sidebar-background: rgb(75, 5, 0, 1);

  --color-container-background: rgb(75, 5, 0, 0.95);

  --color-control-disabled: #494949;
  --color-control-inactive: #9b1900;
  --color-control-inactive-secondary: rgb(155, 155, 155);
  --color-control-hover: red;
  --color-control-active: red;
  --color-control-active-secondary: #c5c5c5;

  --color-tutorial-border: #9b1900;
  --color-tooltip-background: rgba(155, 25, 0, 0.9);

  --color-text-default: white;
  --color-text-control: white;
  --color-text-highlight: rgb(255, 220, 220);
  --color-text-link: red;
  --color-text-link-hover: red;
  --color-text-subtle: #c1c1c1;

  --color-click-ripple: rgba(200, 200, 200, 0.7);
}