@import './elements.css';
@import './font.css';

@import './themes';

body {
	margin: 0;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

body * {
	transition: color 200ms, background-color 200ms, border-color 200ms, text-shadow 200ms,
		transform 200ms, scale 200ms, opacity 200ms;
}
